body {
  margin: 0;
  min-width: 250px;
  background-color: #131313;
  color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  position: sticky;
  top: 0;
  height: 58px;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
      width: 16px;
      height: 16px;
      background-color: #5db873;
      padding: 10px;
      border-radius: 30px;
    }
  }

  .arrow {
    height: 24px;
  }
}

.main {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .underline {
    text-decoration: underline;
  }

  .incoming {
    width: 82%;
    padding: 12px;
    border-radius: 20px;
    background-color: #303030;
    display: flex;
    line-height: 21px;
    flex-direction: column;
  }

  .outgoing {
    width: 35px;
    height: 15px;
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 20px;
    background-color: #ababab;
    font-weight: 500;
    color: #303030;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .divider {
    font-size: 12px;
    color: #ababab;
    display: flex;
    margin-top: 20px;
    margin-bottom: 6px;
    justify-content: center;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 76px;
  padding: 0 10px;
  align-items: center;
  gap: 5px;
  color: #c5c5c5;

  .emoji {
    position: absolute;
    left: 20px;
  }

  input {
    background-color: #303030;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding-left: 45px;
    width: 100%;
    color: #c5c5c5;
  }

  input::placeholder {
    color: #c5c5c5;
  }

  .image {
    position: absolute;
    right: 102px;
    cursor: pointer;
  }

  .plus {
    position: absolute;
    right: 66px;
    cursor: pointer;
  }

  .podcast {
    cursor: pointer;
    background-color: #303030;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
  }
}
